.admin-panel {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .admin-row-1 {
        display: flex;
        background-color: aqua;
        height: 50vh;
        width: 100%;

        .admin-blog {
            text-align: center;
            display: flex;
            flex-direction: column;

            align-items: center;

            background-color: rgb(228, 222, 222);
            justify-content: center;

            width: 50%;
            height: 100%;

            .blog {
                display: flex;
                flex-direction: column;
                margin: 1rem;

                width: 50%;
            }
        }
    }

    .inproductie {
        display: flex;

        .line-active {
            background-color: green;
            padding: 1rem;
            cursor: pointer;
            margin: 0.2rem;
        }
        .line-deactive {
            background-color: red;
            padding: 1rem;
            cursor: pointer;
            margin: 0.2rem;
        }
    }
}
